extends layout

block content
	h1  #{title}
	h2
	
	
	
	form#formNewTicketWindows(name="newTicketLinux", method="post", action="/newticket")
		input#inputTicketType(type="text", placeholder="Ticket Type", name="ticketType")
		input#inputHostName(type="text", placeholder="Host Name", name="hostname")
		input#inputIpAddress(type="text", placeholder="ipaddress", name="ipaddress")
		
		button#btnSubmit(type="submit") submit
